/* Image && Text Sections */

.half-img-half-text {
  display: flex;
  padding: 0 8vw 7vh;
  width: 100%;
  justify-content: space-between;
  .section-content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin-bottom: 0.5em;
      width: 100%;
      max-width: 340px;
    }
    p {
      opacity: 0.8;
    }
    a {
      text-decoration: none;
      .link-decor{
        text-decoration: none;
        padding-bottom: 3px;
        img {
          height: 0.9em;
        }
      }
    }
  }
  .section-image {
    flex-basis: 50%;
    img {
      width: 100%;
      max-width: 615px;
    }
  }
}

@media (max-width: 750px) {
  .half-img-half-text {
    flex-direction: column;
    .section-content h1 {
      max-width: none;
    }
  }
}

@media (max-width: 700px) {
  .half-img-half-text {
    h1 {
      font-size: 1.5em;
    }
    p {
      font-size: 1.2em;
    }
    .section-image {
      padding-bottom: 4em;
    }
  }
}
