$font-headings: Raleway, sans-serif;
$font-body: "Open Sans", sans-serif;

$theme-main-bkg: hsl(218, 28%, 13%);
$theme-intro-bkg: hsl(217, 28%, 15%);
$theme-footer-bkg: hsl(216, 53%, 9%);
$theme-testimonials-bkg: hsl(219, 30%, 18%);

$accent-1: hsl(176, 68%, 64%);
$accent-2: hsl(198, 60%, 50%);

$neutral-light: hsl(0, 0%, 100%);

$neutral-dark: #000000;

/* Call-to-Action */

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10em 3em;
  background: linear-gradient(to bottom,  $theme-main-bkg 0%,$theme-main-bkg 50%,$theme-footer-bkg 50%,$theme-footer-bkg 100%);
  .section-content {
    background-color: $theme-intro-bkg;
    padding: 5em 3em;
    width: 100%;
    max-width: 860px;
    box-shadow: 0px 10px 20px 15px rgba(0,0,0,0.1);
    p {
      width: 100%;
      max-width: 620px;
      opacity: 0.8;
      margin: 0 auto 2em;
    }
  }
  h1 {
    margin-bottom: 2vh;
  }
  input {
    width: 100%;
    min-width: 200px;
    max-width: 480px;
    height: 50px;
    border-radius: 50px;
    margin-right: 2em;
    margin-bottom: 1em;
  }
  .get-started {
    width: 200px;
    height: 50px;
  }
}

@media (max-width: 700px) {
  .call-to-action .get-started {
    width: 100%;
    max-width: 480px;
    margin-right: 2em;
  }
}
