button.get-started {
  width: 300px;
  height: 60px;
  border-radius: 30px;
  font-size: 1em;
}

/* Intro */
h1 {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

p {
  margin-bottom: 1em;
}

.intro-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 680px;
  margin: auto;
  text-align: center;
  padding: 0 3em;
  img {
    width: 100%;
    margin: 5em 0 5em;
  }
  .get-started {
    margin: 3em 0 5em;
  }
}
.intro p {
  max-width: 580px;
  font-size: 1.2em;
  opacity: 0.8;
}
