/* Feature Grid */
* {
  box-sizing: border-box;
}
.feature-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 10em 0;
}
.feature-grid .feature-square {
  flex-basis: 45%;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}
.feature-grid .feature-square p {
  width: 100%;
  max-width: 350px;
  text-align: center;
  opacity: 0.8;
}
.feature-grid .feature-square .access-img {
  width: 83px;
  height: 78px;
  /* background-image: url("../images/icon-access-anywhere.svg"); */
}

@media (max-width: 701px) {
  .feature-grid {
    flex-direction: column;
  }
}
