/* Testimonials */

.testimonials {
  display: flex;
  width: 100%;
  max-width: 1160px;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px;
  align-items: center;
  padding: 0 1em;
  .testimonial-square{
    flex-basis: 30%;
    width: 360px;
    min-width: 325px;
    height: 200px;
    padding: 2.5em 2em 1.5em;
    p {
      width: 100%;
      max-width: 300px;
      opacity: 0.8;
      margin-bottom: 1.5em;
      line-height: 1.7em;
    }
    .testimonial-profile {
      display: flex;
      height: 25px;
      font-size: 0.6em;
      img {
        height: 100%;
        width: auto;
        border-radius: 50%;
        margin-right: 2em;
      }
      h4 {
        font-size: 1.3em;
        line-height: 1.3em;
        margin-bottom: 0.5em;
      }
      p {
        line-height: 1em;
        margin-bottom: 0;
      }
    }
  }
}
.testimonial-quotation {
  position: relative;
  font-size: 15em;
  font-family: sans-serif;
  left: 40px;
  top: 30px;
}

@media (max-width: 755px) {
  .testimonials {
    flex-direction: column;
    height: 800px;
    margin-top: 7em;
    .testimonial-square {
      margin-bottom: 2em;
      max-height: 190px;
    }
    .testimonial-quotation  {
      font-size: 6em;
      left: -180px;
      top: 100px;
    }
  }
}
